.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  width: 100%;
  height: 100%;
}

* {
  font-family: sans-serif;
}

.root {
  /* background-color: white; */
  width: 100%;
  height: 100%;
  text-align: center;
}

.root > * {
  display: inline-block;
  width: 80%;
}

.root > * > * {
  width: 100%;
}

.header {
  color: lawngreen;
  text-align: center;
}

#title {
  font-size: 72px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
}

.content {
  background-color: aquamarine;
  margin: 48px 0px 48px 0px;
}

.content > * {
  width: 100%;
  height: 100%;
}

.nav {
  position: relative;
  bottom: 0px;
  background-color: black;
}

.nav > div {
  font-weight: bold;
  font-size: 32px;
  margin: 0px 5px 0px 5px;
  /* Firefox */
  width: -moz-calc(20% - 10px);
  /* WebKit */
  width: -webkit-calc(20% - 10px);
  /* Opera */
  width: -o-calc(20% - 10px);
  /* Standard */
  width: calc(20% - 10px);
  display: inline-block;
  position: relative;
  border-bottom: 6px solid lawngreen;
}

.nav > div p {
  color: white;
  text-align: center;
  justify-content: center;
}

:link {
  text-decoration: none;
}

.nav > div:hover {
    font-weight: bolder;
    font-size: 36px;
    margin: -8px 3px -8px 3px;
    /* Firefox */
    width: -moz-calc(20% - 6px);
    /* WebKit */
    width: -webkit-calc(20% - 6px);
    /* Opera */
    width: -o-calc(20% - 6px);
    /* Standard */
    width: calc(20% - 6px);
    display: inline-block;
    position: relative;
    border-bottom: 8px solid lawngreen;
}